.main-div{
    background-color: rgb(42, 55, 74);
    padding-top:150px;
    padding-bottom: 50px;
}
.main-deev{
   background-color: rgb(209, 208, 208);
}
.main-box
{
    position: relative;
    top: 120px;
    box-shadow: 0 4px 6px rgba(253, 251, 251, 0.3)
}
.input{
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(230, 228, 228);
  
}
.input:focus,
.input:active {
  outline: none;
  box-shadow: none;
   border-bottom: 2px solid #9929fb;
   color: rgb(240, 237, 237);
}
.input:focus::placeholder {
  color: #9929fb; 
}
.budget-width {
  width: 25%;
}

.subject-width {
  width: 75%;
}
