html {
  scroll-behavior: smooth;
}

.nav-link {
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.nav-link:hover {
  background-color: rgb(222, 220, 220);
  color: #9929fb;
}

.nav-button {
  background-color: #9929fb ;
  color: white ;
  font-weight: 600;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.nav-button:hover {
  background-color: #7e21d4 ;
  color: white ;
}

