.home{
    background: radial-gradient(circle at 12% 100%, #ffe2b0f5 1%, #ffe2b0f5 5px, #0000 15%), radial-gradient(circle at 95% -15%, #da4df166 5%, #0000 30%), radial-gradient(circle at 100%, #c4f5e9b2 2%, #0000 35%);
    
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
}
.box{
    background-color:#F6EBFE ;
}





.imag-container {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.second-containt {
  position: relative;
  margin-top: 150px;  
}

.imag-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.detail-container{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 
.imag-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.hello-btn {
  background-color: #9929fb ;
  color: white ;
  font-weight: 600;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}
.hello-btn:hover {
  background-color: #7e21d4 ;
  color: white ;
}
.project-btn{
    background-color: #9929fb ;
  color: white ;
  font-weight: 600;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}
.project-btn:hover {
  background-color: #7e21d4 ;
  color: white ;
}
.cv-btn{
border: 2px solid black; 
}
.cv-btn:hover,.cv-btn:focus,
.cv-btn:active {
  border: 2px solid #7e21d4; 
  color: #7e21d4;
}


#About{
  margin-top: 100px;
  position: relative;
  top:160px
}