body{
    background-color: white;
    width: 100%;
  
}
.section2{
    background-color: rgb(1, 1, 35) ;
    margin-top: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}
#Potfolio{
    margin-top: 200px;
}